# CONFIG_TASKSTATS is not set
# CONFIG_BUG is not set
# CONFIG_ELF_CORE is not set
# CONFIG_PERF_EVENTS is not set
# CONFIG_PROFILING is not set

#
# GUP_TEST needs to have DEBUG_FS enabled
#
# CONFIG_BT_FEATURE_DEBUG is not set
# CONFIG_PRINTK_TIME is not set
# CONFIG_DYNAMIC_DEBUG is not set
# CONFIG_DYNAMIC_DEBUG_CORE is not set
# CONFIG_SYMBOLIC_ERRNAME is not set
# CONFIG_DEBUG_MISC is not set
# CONFIG_DEBUG_FS is not set
# CONFIG_DEBUG_PREEMPT is not set
# CONFIG_FTRACE is not set
# CONFIG_SAMPLES is not set
CONFIG_DEBUG_INFO_NONE=y
# CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT is not set
# CONFIG_RUNTIME_TESTING_MENU is not set
# CONFIG_DEBUG_BUGVERBOSE is not set

