# CONFIG_CMD_BDI is not set
# CONFIG_CMD_FWU_METADATA is not set
# CONFIG_CMD_ADTIMG is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_GO is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_EXPORTENV is not set
# CONFIG_CMD_IMPORTENV is not set
# CONFIG_CMD_EDITENV is not set
# CONFIG_CMD_SAVEENV is not set
# CONFIG_CMD_NVEDIT_EFI is not set
# CONFIG_CMD_NVEDIT_INFO is not set
# CONFIG_CMD_MEMINFO is not set
# CONFIG_CMD_MEMTEST is not set
# CONFIG_CMD_UNZIP is not set
# CONFIG_CMD_ECHO is not set
# CONFIG_CMD_ITEST is not set
# CONFIG_CMD_SOURCE is not set
# CONFIG_CMD_SETEXPR is not set
# CONFIG_CMD_NET is not set
# CONFIG_CMD_PXE is not set
# CONFIG_CMD_BOOTSTAGE is not set
# CONFIG_CMD_CYCLIC is not set
# CONFIG_CMD_LOG is not set
# CONFIG_CMD_UBI is not set
