# CONFIG_QCOM_SPMI_VADC is not set
# CONFIG_VF610_ADC is not set
# CONFIG_XILINX_XADC is not set
# CONFIG_MPU3050_I2C is not set
# CONFIG_HTS221 is not set
# CONFIG_IIO_ST_LSM6DSX is not set
# CONFIG_CM36651 is not set
# CONFIG_SENSORS_ISL29018 is not set
# CONFIG_SENSORS_ISL29028 is not set
# CONFIG_AK8975 is not set
